<div layout:decorate="layouts/admin" layout:fragment="contents">
  <h2>ニュース</h2>
  <div class="mb-3">
    <form th:action="@{/admin/article/update/{id}(id=${article.id})}" method="post" th:object="${article}"
      enctype="multipart/form-data">

      <div class="form-group mb-3">
        <label class="from-label" for="">タイトル</label>
        <span class="small text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
        <input th:field="${article.title}" class="form-control">
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="">本文</label>
        <span class="small text-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Title Error</span>
        <textarea th:field="${article.body}" class="form-control" rows="10"></textarea>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="">画像</label>
        <div>
          <img th:src="${article.imagePath}" width="500">
        </div>
        <input type="file" name="file">
      </div>

      <button class="btn btn-primary">更新</button>
      <a class="btn btn-outline-primary" th:href="@{../}">戻る</a>
    </form>
  </div>
  <div class="mb-3">
    <form th:action="@{/admin/article/destroy/{id}(id=${article.id})}" method="post">
      <button class="btn btn-danger" onclick="return confirm('削除してもよいですか？')">削除</button>
    </form>
  </div>
</div>