<div layout:decorate="layouts/admin" layout:fragment="contents">
  <h2>ニュース</h2>
  <a class="btn btn-sm btn-primary" th:href="@{create}">新規追加</a>
  <table class="table">
    <tr>
      <td><a th:href="@{/admin/article/edit/{id}(id=1)}" class="btn btn-sm btn-outline-primary">編集</a></td>
      <td>2023/01/01 10:00</td>
      <td th:text="タイトル1"></td>
    </tr>
    <tr th:each="article: *{articles}">
      <td><a th:href="@{/admin/article/edit/{id}(id=${article.id})}" class="btn btn-sm btn-outline-primary">編集</a></td>
      <td th:text="${#temporals.format(article.postedAt, 'yyyy/MM/dd HH:mm')}"></td>
      <td th:text="*{article.title}"></td>
    </tr>
  </table>
</div>