<div layout:decorate="layouts/default" layout:fragment="contents">
  <h2>ニュース</h2>
  <div th:each="article: ${articles}" class="mb-2">
    <a th:href="@{/article/{id}(id=*{article.id})}" th:text="${article.title}"></a>
    (<span th:text="${#temporals.format(article.postedAt, 'yyyy/MM/dd HH:mm')}"></span>)
  </div>

  <nav class="mt-3">
    <ul class="pagination">
      <li th:class="page-item">
        <a th:href="@{/article/?page=1}" class="page-link">&lt;&lt;</a>
      </li>
      <li th:class="page-item">
        <a th:if="${!articles.isFirst()}" th:href="@{/article/?page={page}(page=${currentPage - 1})}" class="page-link">&lt;</a>
      </li>
      <li th:class="page-item" th:each="i : ${#numbers.sequence(0, totalPage - 1)}">
        <a th:href="@{/article/?page={page}(page=${i + 1})}" class="page-link"><span th:text="${i + 1}"></span></a>
      </li>
      <li th:class="page-item">
        <a th:if="${!articles.isLast()}" th:href="@{/article/?page={page}(page=${currentPage + 1})}" class="page-link">&gt;</a>
      </li>
      <li th:class="page-item">
        <a th:href="@{/article/?page={page}(page=${totalPage})}" class="page-link">&gt;&gt;</a>
      </li>
    </ul>
  </nav>

</div>