<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <h2>ニュース</h2>
        <div class="mb-3">
            <h3>ニュースタイトル1</h3>
            <p>
                <span>2023/07/01 13:15</span>
            </p>
            <div>
                <img src="/images/tokyo_station.jpg" width="500">
            </div>
            <div class="pt-3">
                ニュース記事です。
            </div>
        </div>
    </div>
</body>

</html>