<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>ユーザページ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <main class="container">
    <form method="post" action="index.html" th:action="@{/logout}">
      <button class="btn btn-sm btn-primary" type="submit" onclick="return confirm('ログアウトしますか？')">ログアウト</button>
    </form>

    <h2>ユーザホーム</h2>
  </main>
</body>

</html>