<!DOCTYPE html>
<xmlns:th="http: //www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/default">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
  </head>

  <body>
    <div layout:fragment="contents">
      <form th:action="@{../update/{id}(id=${news.id})}" method="post">
        <h2>ニュース</h2>
        <input name="title" class="form-control" th:value="${news.title}"></input>
        <textarea name="body" class="form-control" th:utext="*{news.body}" rows="10"></textarea>

        <button class="btn btn-primary">更新</button>
      </form>
    </div>
  </body>

  </html>