<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My News</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <main class="container">
    <div>
      <h2>最新ニュース</h2>
      <ul class="list-group">
        <li class="list-group-item"><a th:href="@{/article/detail/1}">ニュース1</a></li>
        <li class="list-group-item"><a th:href="@{/article/detail/2}">ニュース2</a></li>
        <li class="list-group-item"><a th:href="@{/article/detail/3}">ニュース3</a></li>
      </ul>
    </div>
  </main>
</body>

</html>