<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/default">

<body>
  <div layout:fragment="contents">
    <div>
      <img src="images/tokyo_station.jpg" class="img-fluid">
    </div>
    <div>
      <h2>ニュース</h2>
      <ul class="list-group">
        <li class="list-group-item">ニュース1</li>
        <li class="list-group-item">ニュース2</li>
        <li class="list-group-item">ニュース3</li>
      </ul>
    </div>
  </div>
</body>

</html>