<!DOCTYPE html>
<html layout:decorate="layouts/default">
  <head>
  </head>
<body>
  <main layout:fragment="contents">
    <div>
      <img th:src="@{images/tokyo_station.jpg}" class="img-fluid">
    </div>
    <div>
      <h2>最新ニュース</h2>
      <ul class="list-group">
        <li class="list-group-item"><a th:href="@{/news/detail/1}">ニュース1</a></li>
        <li class="list-group-item"><a th:href="@{/news/detail/2}">ニュース2</a></li>
        <li class="list-group-item"><a th:href="@{/news/detail/3}">ニュース3</a></li>
      </ul>
    </div>
  </main>
</body>

</html>